.map-div{
    display:block;
    width:100%;
}

.map-div .map{
    display:block;
    width:100%;
}

h1{
    color:rgb(255, 196, 0);
    text-align:center;
}
.navbar {
    display: flex;
    position: fixed;
    width:100%;
    top:0;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 196, 0);
    color: white;
    z-index:100;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    margin-right:1rem;
}

.navbar-links {
    height: 100%;
    flex-grow:100;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    border-right: 1px solid #fff;
}

.navbar-links li:last-child{
    border-left: 1px solid #fff;
}

.navbar-links li:first-child{
    border-left: 1px solid #fff;
}

.navbar-links li.right {
    margin-left: auto;
}

.navbar-links li > a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.125rem;
}

.navbar-links li > a.active {
    background-color: rgb(255, 166, 0);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.dropdown-content a.active {
    background-color: lightskyblue !important;
}

.navbar-links li:hover {
    background-color: rgb(255, 208, 0);
    cursor: pointer;
}

.fill-navbar-height{
    height:60px;
}

@media (min-width: 501px) {
    .dropdown:hover .dropdown-content {
        display: block;
      } 
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links li.right {
        margin: 0;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        border-width:0;
    }

    .navbar-links li:first-child{
        border-width:0;
    }

    .navbar-links li:last-child {
        border-width:0;
    }

    
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .dropdown-content {
        width:100%;
        position:static;
    }

    .dropdown-content a {
        text-align: center;
        background-color: #BBB;
        color:white;
    }

    .dropdown-content a:hover {
        background-color:#888;
    }

    .dropdown.selected .dropdown-content {
        display: block;
    }
   
}

.logo-image img{
    height:3rem;
    aspect-ratio: 1;
}

.logo-and-name{
    display:flex;
    align-items: center;
}