<nav class="navbar">
  <div class="brand-title">Bee Book</div>
  <a class='toggle-button'>
    <span class='bar'></span>   
    <span class='bar'></span>
    <span class='bar'></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li>
        <a>Home</a>
      </li>
      <li>
        <a [ngClass]="{active: router.url === '/main'}" (click)="goToMain()">Main</a>
      </li>
      <li class="right">
        <a [ngClass]="{active: router.url === '/login'}" (click)="goToLogin()">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="fill-navbar-height"></div>
<div class="header">
    <h1>Bee Book</h1>
</div>
<router-outlet></router-outlet>