
<div class="main" id="main">
    <div class="map-div" id="map">
        <google-map class="map"
            width="100%"
            height="100%"
            [zoom]="zoom"
            [center]="center"
            [options]="options">
            <div *ngFor="let hive of selectedHives">
                <map-circle *ngIf="hive.sickness === '' && hive !== selectedHive"
                    [radius]="5000"
                    [center]="hive.loc"
                    [options]="circleOptions">
                </map-circle>
                <map-circle *ngIf="hive.sickness !== ''"
                    [radius]="5000"
                    [center]="hive.loc"
                    [options]="sickCircleOptions">
                </map-circle>
                <map-circle *ngIf="hive.sickness === '' && hive === selectedHive"
                    [radius]="5000"
                    [center]="hive.loc"
                    [options]="selectedCircleOptions">
                </map-circle>
                <map-marker *ngIf="hive !== selectedHive && !hive.sickness"
                    [position]="hive.loc"
                    [options] = "markerOptions"
                    (mapClick)="onSelectHive(hive)">
                </map-marker>
                <map-marker *ngIf="hive === selectedHive && !hive.sickness"
                    [position]= "hive.loc"
                    [options] = "selectedMarkerOptions">
                </map-marker>
                <map-marker *ngIf="hive === selectedHive && hive.sickness"
                    [position]="hive.loc"
                    [options] = "sickMarkerOptions"
                    (mapClick)="onSelectHive(hive)">
                </map-marker>
                <map-marker *ngIf="hive !== selectedHive && hive.sickness"
                    [position]="hive.loc"
                    [options] = "sickMarkerOptions"
                    (mapClick)="onSelectHive(hive)">
                </map-marker>
            </div>
        </google-map>
    </div>
    <div class="menu" id="menu">
        <div class="menu-buttons" id="menu-buttons">
            <button type="button" (click)="onSelect(0)" [class.selected]="0 === selected">
                <span>Eigene</span>
            </button>
            <button type="button" (click)="create()" *ngIf="selected === 0">
                <span>+</span>
            </button>
            <button type="button" (click)="delete()" *ngIf="selected === 0">
                <span>-</span>
            </button>
            <button type="button" (click)="onSelect(1)" [class.selected]="1 === selected">
                <span>Andere</span>
            </button>
            <button type="button" (click)="onSelect(2)" [class.selected]="2 === selected">
                <span>Favoriten</span>
            </button>
        </div>
        <div class="menu-content" id="menu-content">
            <div class="menu-list">
                <app-own-page *ngIf="selected === 0" [selectedHive]="selectedHive" [(selectedHive)]="selectedHive" [selectedHives]="selectedHives"></app-own-page>
                <app-other-page *ngIf="selected === 1" [selectedHive]="selectedHive" [(selectedHive)]="selectedHive" [selectedHives]="selectedHives"></app-other-page>
                <app-fav-page *ngIf="selected === 2" [selectedHive]="selectedHive" [(selectedHive)]="selectedHive" [selectedHives]="selectedHives"></app-fav-page>
            </div>
            <div class="menu-detail">
                <app-hive-detail [selectedHive]="selectedHive" [canBeEdited]="canBeEdited" [selectedHives]="selectedHives" [(selectedHives)]="selectedHives"></app-hive-detail>
            </div>
        </div>
    </div>
</div>